@import '../../../../styles/01-tools/mixins';



.formulario-textarea {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-xss);
  width: var(--width-estandar);
}



.formulario-textarea__etiqueta {
  color: var(--text-light);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-secondary);
  margin-bottom: var(--input-margin-bottom);
}

.formulario-textarea__requerido {
  color: var(--button-red);
}

.formulario-textarea__campo {
  @include input-base;
  background-color: var(--button-yellow);
  min-height: 7.5rem;
  resize: vertical;
  transition: all 0.3s ease;
}

.formulario-textarea__campo::placeholder {
  @include input-placeholder;
}

.formulario-textarea__campo:hover {
  @include input-hover;
}

.formulario-textarea__campo:focus {
  outline: 0.125rem solid var(--amarillo-dark);
  outline-offset: 0.125rem;
}

.formulario-textarea__error {
  color: var(--button-red);
  font-size: var(--font-size-sm);
  font-family: var(--font-secondary);
  margin-top: var(--input-margin-bottom);
}

.formulario-textarea__ayuda {
  color: var(--text-dark);
  font-size: var(--font-size-sm);
  font-family: var(--font-secondary);
  opacity: 0.8;
  margin-top: var(--input-margin-bottom);
}
