@import '../01-tools/mixins';



.boton {
  @include boton-base;
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
}



.boton--primario {
  background-color: var(--button-yellow);
  color: var(--negro-normal);
  box-shadow: var(--shadow-md);

  @include hover-activo {
    background-color: var(--button-yellow-hover);
    transform: translateY(-0.125rem);
    box-shadow: var(--shadow-lg);
  }

  @include click-activo {
    transform: translateY(0);
    box-shadow: var(--shadow-sm);
  }

  @include focus-activo {
    outline: 0.1875rem solid var(--amarillo-normal);
    outline-offset: 0.125rem;
  }
}



.boton--secundario {
  background-color: var(--button-gray);
  color: var(--text-dark);
  box-shadow: var(--shadow-sm);

  @include hover-activo {
    background-color: var(--button-gray-hover);
    transform: translateY(-0.125rem);
    box-shadow: var(--shadow-md);
  }

  @include click-activo {
    transform: translateY(0);
  }

  @include focus-activo {
    outline: 0.1875rem solid var(--gris-normal);
    outline-offset: 0.125rem;
  }
}



.boton--fantasma {
  background-color: transparent;
  color: var(--text-dark);
  border: var(--border-width-normal) solid var(--gris-normal);

  @include hover-activo {
    background-color: var(--gris-normal);
    color: var(--text-dark);
    border-color: var(--gris-normal-hover);
  }

  @include click-activo {
    background-color: var(--gris-normal-hover);
  }

  @include focus-activo {
    outline: 0.1875rem solid var(--gris-normal);
    outline-offset: 0.125rem;
  }
}



.boton--peligro {
  background-color: var(--button-red);
  color: var(--text-dark);
  box-shadow: var(--shadow-md);

  @include hover-activo {
    background-color: var(--button-red-hover);
    transform: translateY(-0.125rem);
    box-shadow: var(--shadow-lg);
  }

  @include click-activo {
    transform: translateY(0);
    box-shadow: var(--shadow-sm);
  }

  @include focus-activo {
    outline: 0.1875rem solid var(--button-red);
    outline-offset: 0.125rem;
  }
}



.boton--pequeno {
  padding: var(--spacing-size-xss) var(--spacing-size-s);
  font-size: var(--font-size-sm);
  height: 2rem;
  min-width: var(--width-muy-pequenio);
}

.boton--mediano {
  padding: var(--spacing-size-xss) var(--spacing-size-m);
  font-size: var(--font-size-md);
  height: 2.75rem;
  min-width: var(--width-mediano);
}

.boton--grande {
  padding: var(--spacing-size-s) var(--spacing-size-l);
  font-size: var(--font-size-lg);
  height: 3.5rem;
  min-width: var(--width-estandar);
}



.boton--completo {
  width: 100%;
}



.boton__icono {
  display: inline-flex;
  margin-right: var(--spacing-size-xss);
}

.boton__icono-svg {
  width: 1.25rem;
  height: 1.25rem;
}

.boton__icono--derecha {
  margin-right: 0;
  margin-left: var(--spacing-size-xss);
}
