.peso {
  padding: var(--spacing-size-m);
}

.peso__titulo {
  font-size: 4rem;
  color: var(--verde-dark-hover);
  padding-top: 4rem;
}

.peso__input {
  width: 50%;

  box-sizing: border-box;

  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  border-radius: var(--radius-s);
  font-size: var(--font-size-md);
  box-sizing: border-box;
}

.peso__card-titulo {
  font-size: var(--font-size-2xl);
  text-align: center;
  color: var(--blanco-normal);
}

.peso__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--rojo-dark-hover);
  margin: 0 auto;
  border-radius: 3rem;
}
.peso__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.peso__label {
  color: var(--blanco-normal);
}
.peso__boton {
  color: var(--blanco-normal);
}
.peso__mensaje--error {
  color: var(--blanco-normal);
  text-align: center;
}

.peso__mensaje {
  color: var(--blanco-normal);
  text-align: center;
}
.peso__input {
  background-color: white;
  color: black;
}

.peso__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: var(--spacing-size-m);
  list-style: none;

  padding: 0;
  margin: 0;
}

@media (min-width: 800px) {
  .peso__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .peso__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
