
.peso{
          padding: var(--spacing-size-m);
}



}

.peso__titulo{

}

.peso__input{
          background-color: white;
          color: black;
}


.peso__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-size-m);
    list-style: none;
    padding: 0;
    margin: 0;

    @include responsive('sm') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }