.tarjeta-peso__cabecera {
  background-color: var(--rojo-dark-hover);
  border-radius: 2rem;
  color: var(--blanco-normal);
  text-align: center;
  width: 6rem;
}

.tarjeta-peso {
  display: flex;
  flex-direction: column;
}

@media (min-width: $breakpoint-sm) {
  .tarjeta-peso {
    flex-direction: row;
  }
}
