

button {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  border: none;
  background: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

button[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
}

button[type="reset"] {
  -webkit-appearance: none;
  appearance: none;
}

button[type="button"] {
  -webkit-appearance: none;
  appearance: none;
}
