/*

Estos son elementos HTML sin clases. ¿Cómo se ve un h1 sin una clase en él? ¿Cómo se ve un a sin una clase? La capa de elementos solo usa selectores de tipo. Es un poco más explícito que la capa anterior en el sentido de que ahora decimos "haz que cada h1 sea así de grande", o "haz que cada a sea de un cierto color".


 */
