



input {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  color: var(--text-light);
}

textarea {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  color: var(--text-light);
}

select {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  color: var(--text-light);
}

input::placeholder {
  color: var(--gris-normal);
  opacity: 0.7;
}

textarea::placeholder {
  color: var(--gris-normal);
  opacity: 0.7;
}




label {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  color: var(--text-light);
  display: block;
  margin-bottom: var(--spacing-size-xss);
}




fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-family: var(--font-secondary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--text-light);
  padding: 0;
  margin-bottom: var(--spacing-size-s);
}




input[type="checkbox"] {
  width: auto;
  margin-right: var(--spacing-size-xss);
}

input[type="radio"] {
  width: auto;
  margin-right: var(--spacing-size-xss);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-results-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
