

ul, ol {
  font-family: var(--font-primary);
  margin: 0 0 var(--spacing-size-s) 0;
  padding-left: var(--spacing-size-l);
}

li {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  margin-bottom: var(--spacing-size-xss);
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

dl {
  font-family: var(--font-primary);
  margin: 0 0 var(--spacing-size-s) 0;
}

dt {
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-size-xss);
}

dd {
  margin-left: var(--spacing-size-m);
  margin-bottom: var(--spacing-size-s);
}
