@import '../../../../styles/00-settings/css-variables';
@import '../../../../styles/01-tools/mixins';

.progress-bar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-xs);
  width: 100%;
  margin: 0;
}



.progress-bar__label {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--amarillo-dark);
  text-align: center;
  margin: 0;
}

.progress-bar__label--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



.progress-bar__track {
  position: relative;
  width: 100%;
  height: 0.5rem;
  background-color: var(--blanco-dark);
  border-radius: var(--radius-full);
  overflow: hidden;
  appearance: none;
  border: none;
}

.progress-bar__track::-webkit-meter-bar {
  background: transparent;
}

.progress-bar__track::-webkit-meter-optimum-value,
.progress-bar__track::-webkit-meter-suboptimum-value,
.progress-bar__track::-webkit-meter-even-less-good-value {
  background: transparent;
}

.progress-bar__track::-moz-meter-bar {
  background: transparent;
}



.progress-bar__fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--amarillo-normal);
  border-radius: var(--radius-full);
  transition: width var(--duration-normal) var(--easing-default);
}
