html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

* {
  background-color: var(--blanco-normal-hover);
}


.main-content {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}


