
* {
  background-color: var(--blanco-normal-hover);
}


.main-content {
  margin: 0;
  padding: 4.5rem 6rem 0; // padding-top para compensar header fijo
  box-sizing: border-box;
  font-family: var(--font-primary);
  overflow-x: hidden;
}


