.titulo__formulario{
  font-size: var(--font-size-3xl);
  text-align: center;
  font-weight: var(--font-weight-bold);
  margin-bottom: 3rem;
}


.planes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
