.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
}



.form {
  background-color: var(--gris-normal);
  padding: var(--spacing-size-xxl) var(--spacing-size-xl);
  border-radius: var(--radius-s);
  width: 100%;
  max-width: 40.625rem;
  box-shadow: var(--shadow-lg);
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0 0 var(--spacing-size-xl) 0;
}

.form__legend {
  color: var(--text-dark);
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-size-l);
  padding: 0;
  width: 100%;
  text-align: center;
}

.form__group {
  border: none;
  padding: 0;
  margin: 0 0 var(--spacing-size-l) 0;
}

.form__group:last-of-type {
  margin-bottom: 0;
}

.form__label {
  display: block;
  color: var(--text-dark);
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--spacing-size-s);
  padding: 0;
  line-height: var(--line-height-normal);
}



.form__input {
  width: 100%;
  height: 3.5rem;
  padding: var(--spacing-size-s) var(--spacing-size-m);
  background-color: var(--blanco-normal-hover);
  border: none;
  border-radius: var(--radius-m);
  color: var(--negro-normal);
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  transition: all var(--duration-base) ease;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: var(--blanco-dark-hover);
}

.form__input:focus {
  outline: none;
  background-color: var(--blanco-normal);
  box-shadow: 0 0 0 0.1875rem var(--amarillo-normal-transparente-030);
}

.form__input:hover:not(:focus) {
  background-color: var(--blanco-normal-active);
}



.form__input--error {
  border: 0.125rem solid var(--button-red);
}

.form__input--error:focus {
  border-color: var(--button-red);
  box-shadow: 0 0 0 0.1875rem var(--rojo-normal-transparente-020);
}



.form__error {
  display: block;
  color: var(--button-red);
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-size-xss);
  margin-left: var(--spacing-size-s);
}
