@import '../../../../styles/01-tools/mixins';



.campo-entrada {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-xss);
  width: var(--width-estandar);
}




.campo-entrada__etiqueta {
  color: var(--text-light);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-secondary);
  margin-bottom: var(--input-margin-bottom);
}


.campo-entrada__requerido {
  color: var(--button-red);
}


.campo-entrada__campo {
  @include input-base;
  background-color: var(--button-yellow);
  transition: all 0.3s ease;
}

.campo-entrada__campo::placeholder {
  @include input-placeholder;
}

.campo-entrada__campo:hover {
  @include input-hover;
}

.campo-entrada__campo:focus {
  outline: 0.125rem solid var(--amarillo-dark);
  outline-offset: 0.125rem;
}


.campo-entrada__error {
  color: var(--button-red);
  font-size: var(--font-size-sm);
  font-family: var(--font-secondary);
  margin-top: var(--input-margin-bottom);
}


.campo-entrada__ayuda {
  color: var(--text-dark);
  font-size: var(--font-size-sm);
  font-family: var(--font-secondary);
  opacity: 0.8;
  margin-top: var(--input-margin-bottom);
}
