

.form-checkbox {
  display: flex;
  margin-bottom: var(--spacing-size-s);
  width: 100%;
}



.form-checkbox__container {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-xs);
  cursor: pointer;
  user-select: none;
}

.form-checkbox__input {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  accent-color: var(--button-yellow);
  flex-shrink: 0;
}

.form-checkbox__input:focus {
  outline: 0.125rem solid var(--button-yellow);
  outline-offset: 0.125rem;
}

.form-checkbox__label {
  font-size: var(--font-size-md);
  color: var(--text-dark);
  line-height: var(--line-height-normal);
}

.form-checkbox__enlace {
  color: var(--button-yellow);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.form-checkbox__enlace:hover {
  color: var(--amarillo-dark);
}
