



$breakpoint-xxs: 25rem;
$breakpoint-xs: 40rem;
$breakpoint-sm: 48rem;
$breakpoint-md: 56.25rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 75rem;
$breakpoint-xxl: 87.5rem;



$negro-normal: #110e10;
$negro-normal-hover: #0f0d0e;
$negro-normal-active: #0e0b0d;
$negro-dark: #0d0b0c;
$negro-dark-hover: #0a080a;
$negro-dark-active: #080607;

$amarillo-normal: #ffd300;
$amarillo-normal-hover: #e6be00;
$amarillo-normal-active: #cca900;
$amarillo-dark: #bf9e00;
$amarillo-dark-hover: #997f00;
$amarillo-dark-active: #735f00;
$amarillo-darker: #594A00;

$blanco-normal: #f5f5f5;
$blanco-normal-hover: #dddddd;
$blanco-normal-active: #c4c4c4;
$blanco-dark: #b8b8b8;
$blanco-dark-hover: #939393;
$blanco-dark-active: #6e6e6e;

$gris-normal: #3f454c;
$gris-normal-hover: #393e44;
$gris-normal-active: #32373d;
$gris-dark: #2f3439;
$gris-dark-hover: #26292e;
$gris-dark-active: #1c1f22;
